<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2022 The Project Nyanpasu

     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.theme.wellbeing"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay
        android:targetPackage="com.google.android.apps.wellbeing"
        android:isStatic="true"
        android:priority="600"/>
    <application
        android:label="Settings Google Icon"
        android:hasCode="false"/>
</manifest>
